.main-header {
    background: var(--color-secondary);
    display: flex;
    animation: HeaderAnim 1s;
}



.main-header-icon {
    margin: 1%;
    background: var(--color-secondary);
    width: clamp(1rem, 5vw, 3rem);
    height: clamp(1rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
}

.main-header-icon img {
    background: lightyellow;
    width: 200%;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    margin-bottom: 1%;
    margin-top: 1%;
    background: var(--color-surface)
}

.main-header-h1 {
    background: var(--color-secondary);
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    background: transparent;
    flex-grow: 1;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.main-nav-dropdown {
    display: none;
}

.main-nav-dropdown:hover + .main-nav {
    display: block;
    position: absolute;
}

main-nav-box {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: center;
}

@keyframes HeaderAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) {

    .main-nav {
        display: none;
        top: 100%;
        width: 100%;
    }

    .main-nav-dropdown {
        display: block;
        font-size: 3rem;
        color: var(--color-text);
        flex: 1;
        text-align: center;
    }
}

.main-nav-dropdown:active + .main-nav {
    display: block;
    position: absolute;
}

.main-nav-box:focus-within + .main-nav {
    display: block;
    position: absolute;
}
