.hero {
    height: 600px;
}

.hero-bg {
    width: 100%;
    height: 500px;
    background: 10% 10% / 10% 10% repeating-linear-gradient(90deg, pink, lightblue, pink);
    position: absolute;
    z-index: -1;
}

.hero-left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.hero-fg {
    height: 100%;
    display: flex;
}

.hero-fg-text {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-fg-h2 {
    font-size: 3.5rem;
}

.hero-fg-p {
    font-size: 1.5rem;
}

.hero-fg-buttons {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

.hero-fg-pbtn {
    color: black;
    background: white;
    border: solid black 0.25rem;
    padding: var(--space-m);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    flex-grow: 1;

}

.hero-fg-sbtn {
    color: black;
    background: red;
    border: solid black 0.25rem;
    padding: var(--space-m);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    flex-grow: 1;
}

.hero-fg-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-fg-img1 {
    height: 200px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: relative
}

.hero-fg-info2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-fg-img2 {
    height: 200px;
    width: 140px;
    border-radius: 50%;

}

.hero-fg-img3 {
    height: 200px;
    width: 140px;
    border-radius: 50%;
}
