.slide-show-fade1 {
    height: 100%;
    width: 100%;
}

.slide-show-fade1 img {
    height: 100%;
    position: absolute;
    opacity: 0;
}

.slide-show-fade1 img:nth-child(1) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 0s;
}
.slide-show-fade1 img:nth-child(2) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 2s;
}
.slide-show-fade1 img:nth-child(3) {
    animation: SlideShowFade 6s infinite;
    animation-delay: 4s;
}
@keyframes SlideShowFade {
    0% {
        opacity: 0
    }

    10% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
