.slider {
    border: solid 12px black;
    overflow: hidden;
    width: 50%;

}

.slide-feed {
    display: flex;
    background-color: aquamarine;
    overflow: hidden;

    width: 200%;

    animation-name: SlideShow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img {
    width: 12.5%;
}

@keyframes SlideShow {
    100% {
        transform: translateX(-50%)
    }
}
